@charset "UTF-8"; /* 인코딩 문자 깨짐 방지 */

html{
    /* 사용자 설정 문자 크기 그대로 반영 될 수 있도록 */
    font-size: 100%;
}

body {
    color: #432;
    line-height: 2.0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* header ---------------------------------------------*/

/* 로고 크기 및 여백 */
.logo {
    width: 210px;
    margin-top: 14px;
}

/* nav 메뉴 장식 */
.main-nav {
    display: flex; /* 옆으로 정렬 */
    list-style: none; /* 점 없에기*/
    text-transform: uppercase; /* 대문자로 바꾸기 */
    font-size: 1.25rem; /* 폰트사이즈 늘리기 */
    margin-top: 34px; /* 여백 */
}

.main-nav li { /* nav 안에 있는 li */
    margin-left: 36px;
}

.main-nav a { /* nav 안에 있는 a */
    color: #432;
}

.main-nav a:hover{
    color: #0bd;
}

/* 로고와 내비의 수평 정렬 */
.page-header { 
    display: flex; /* 내비의 위치를 로고 옆으로 정렬 */
    justify-content: space-between; /* 양 옆으로 정렬 */
}

/* 콘텐츠의 최대 출력 너비 설정 */
.wrapper { 
    max-width: 1100px; /* 최대 출력 */
    margin: 0 auto; /* 위&아래 - 양옆 */
    padding: 0 4%; 
}

/* home --------------------------------------------------*/
.home-content {
    text-align: center; /* 컨텐츠 가운데 정렬 */
    margin-top: 10%; 
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

.page-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: normal;
}

/* 메뉴보기 버튼 */
.button {
    background: #0bd;
    padding: 15px 32px; /* 패팅을 준다 */
    border-radius: 5px;
    color: white;
    font-size: 1.375rem;
}

/* 큰 배경 이미지 */
#home {
    background-image: url(../images/main-bg.jpg); /* 배경 이미지 설정 */
    min-height: 100vh; 
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/*---------------------------------NEWS--------------------------------------*/
#news{
    background-color: skyblue;
    height: 270px;
    margin-bottom: 40px;
}

#news .page-title {
    text-align: center;
}

/* footer--------------------------------------------------------------------*/

footer {
    background-color: #432;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: white;
}

/* news content -------------------------------------------------------------*/

/* 기사 부분 */
article {
   /* width: 74%; */
   /* 2-column에서 3-column으로 변경 시 width 조정 */
   width: 55%;
   order: 2;
}

/* 사이드 바 */
aside {
    width: 22%;
    order: 3;
}

/* 광고 배너 */
.ad {
    /* 컬럼 순서 변경 - display : flex가 적용 된 자식 요소에서 동작 */
    order: 1;
}
/* 뉴스 컨텐츠 수평 정렬 및 여백 */
.news-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

/* 기사 날짜 장식 */
.post-info {
    position: relative;
    padding-top: 4px;
    padding-bottom: 40px;
}

.post-date {
    background-color: #0bd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1.625rem;
    text-align: center;
    /* post-info 기준 절대 위치 */
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(225, 255, 255, 0.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title {
    font-family: "나눔명조";
    font-size: 2rem;
    font-weight: normal;
}

.post-title,
.post-cat {
    margin-left: 120px;
}

article img {
    margin-bottom: 20px;
}

article p {
    margin-bottom: 1rem;
}

/* side bar -----------------------------------------------------------------*/
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}

.sub-menu {
    list-style: none;
    margin-bottom: 60px;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #432;
    padding: 10px;
    display: block;
}

.sub-menu a:hover {
    color: #0bd;
}

aside p {
    padding: 12px 10px;
}

/* for mobile ---------------------------------------------------------------*/
/* 변경 기준이 되는 화면 크기를 브레이크 포인트라고 하며 디바이스 별로 width는 다르다.
 450~760 정도가 기준으로 중간 정도인 600을 브레이크 포인트로 설정한다. */
@media (max-width:600px){

    /* 제목 문자 크기 축소 */
    .page-title {
        font-size: 2.5rem;
    }
    /* header */
    /* 내비 글자 크기 및 여백 축소 */
    .main-nav {
        font-size: 1rem;
        margin-top: 10px;
    }

    .main-nav li {
        margin: 0 20px;
    }

    /* 로고와 내비 수직 정렬 */
    .page-header {
        flex-direction: column;
        align-items: center;
    }

    /* 뉴스 컨텐츠 수직 정렬 */
    .news-content {
        flex-direction: column;
    }

    /* 원래 컬럼을 나누어서 차지하던 너비를 100% 차지하게 변경 */
    article,
    aside {
        width: 100%;
    }

    /* 문자 크기 및 여백 조절 */
    #news .page-title {
        margin-top: 30px;
    }

    aside {
        margin-top: 60px;
    }

    .post-info {
        margin-bottom: 60px;
    }

    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }

    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }

    .post-title {
        font-size: 1.375rem;
    }

    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }

    .post-title,
    .post-cat {
        margin-left: 80px;
    }
}




